body {
    font-family: 'Carter One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;

    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

body:after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#root {
    z-index: 1;
}